<!doctype html>
<html lang="fr">
    {% include 'head.html.twig' with { i18n : i18n } %}

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="text-center mb-4" id="result">
                        {% if result != 'success' %}
                            <i class="far fa-times-circle result-icon red"></i>
                            <h1 class="">{{i18n.result.errorTitle}}</h1>
                            <h3>{{i18n.result.errorText}}</h3>
                            <br>
                            <a class="btn btn-primary btn-lg" href="/{{appid}}">{{i18n.result.retryBtnText}}</a>
                        {% else %}
                            <i class="far fa-check-circle result-icon green"></i>
                            <h1 class="">{{i18n.result.confirmTitle}}</h1>
                            <h3>{{i18n.result.confirmText}}</h3>
                            <br>
                            <a class="btn btn-primary btn-lg" href="/{{appid}}"><i class="fas fa-bug"></i>&nbsp; {{i18n.result.restartBtnText}}</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
</html>